@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
/* font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px 0;
    font-family: "Roboto", sans-serif;
}

.filter-btn-active {
    @apply bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-1 px-1 border border-blue-500 hover:border-transparent;
}

.filter-btn {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-1 border border-blue-700;
}
