@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
/* font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(229 231 235 / 1);
}

.filter-btn-active {
    @apply font-semibold text-sm inline-flex items-center justify-center px-3 py-2 border-2 border-indigo-500 rounded leading-5 shadow transition duration-150 ease-in-out w-full bg-indigo-500 hover:bg-indigo-600 text-white focus:outline-none focus-visible:ring-2;
}

.filter-btn {
    @apply font-semibold text-sm inline-flex items-center justify-center px-3 py-2 border border-indigo-500 rounded leading-5 shadow transition duration-150 ease-in-out w-full bg-white hover:bg-slate-100 text-indigo-500 focus:outline-none focus-visible:ring-2;
}
